
@media screen and (max-width: 1200px){
    .container{
        padding:0px 15px;
    }
    header{
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }
    .home__wrapper{
        padding:25px 0px 50px;
    }
    header nav{
        width: 100%;
        margin-bottom: 7px;
    }
    header nav li{
        margin: 0 auto;
    }
    .home-call{
        margin-left: auto;
    }
    .home-title{
        font-size: 48px;
    }
    .video__wrapper iframe {
        width: 100%;
    }
    .features-title{
        margin-bottom: 45px;
    }
    .features-items{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .features-item{
        margin-bottom: 25px;
    }
    .plan__wrapper{
        padding: 0px;
    }
    .plan__wrapper p{
        margin-bottom: 25px;
    }
    .plan-items{
        overflow-x: scroll;
    }
    .plan__wrapper > div > p:last-child{
        line-height: 22px;
    }
    .config__box{
        padding: 20px 10px 55px;
    }
    .config__box > p{
        margin-left: auto;
        margin-bottom: 40px;
    }
    .price__box{
        flex-direction: column;
    }
    .range-item{
        flex-direction: column;
        line-height: 44px;
    }
    .config__wrapper{
        padding-bottom: 0px;
    }
    .security__box img {
        margin: 20px 70px 0px 70px;
    }
    .security__wrapper{
        padding:35px 0px;
    }
    .security__box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .mods-carousel.owl-carousel .owl-item img{
        width: 100%;
    }
    .contact__box{
        flex-direction: column;
    }
    .contact-aside{
        padding: 40px 30px 50px 30px;
        height: 170px;
        max-width: 292px;
    }
    .contact__box form{
        padding: 30px 25px 30px 30px;
    }
    .contact-form--access{
        width: 100%;
        padding: 0px 10px;
    }
    footer{
        padding: 20px 43px 66px;
        text-align: center;
    }
    .plan-item p:first-child{
        width: 130px;
        text-align: center;
    }
    .plan-item{
        margin-right: 50px;
    }
    header > a{
        margin-bottom: 10px;
    }
    .config-modal form{
        max-height: 400px;
    }
    #config-number{
        margin-bottom: 15px;
    }
    #config-button{
        width: 100%;
    }
    .config-modal--access{
        width: 100%;
        padding: 0px 30px;
    }
    .config-modal--access p{
        font-size: 23px;
        text-align: center;
    }
}